body { 
  background-color: #dbdbdb;
}

h2{
  text-align:center;
  font-size: 2em;
}

h1{
  text-align:center;
  color: #29ab87;
}



#card {
  position: relative;
  border-radius: 3%;
  margin: 0 auto;
  width: 330px;
  height: auto;
  background-image: linear-gradient( 191deg , #4ac1ff, #795bb0 );
  padding-bottom: 17px;
  -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  top:50px;
    opacity: 0.8
}

#image-container {
  height: 175px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  margin: 0;
  padding: 0;
  background-image: url(http://static.giantbomb.com/uploads/square_small/12/120457/2060505-mel_gibson_look.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.txt-body {
  padding: 5px 40px 20px 40px;
}