@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");



@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */


@font-face {
    font-family: Bacon;
    src: url(baron-neue.bold.otf);
}
@font-face {
    font-family: Baconpig;
    src: url(roboto.medium.ttf);
}
@font-face {
    font-family: pigfood;
    src: url(roboto.bold.ttf);
}
@font-face {
    font-family: Sfposter;
    src: url(SFMoviePoster.ttf);
}

@font-face {
    font-family: mainfont;
    src: url(Montserrat-Black.otf);
}

#rubrik h1{
    color: #000000 !important;
    text-align: center;
    font-family: Bacon !important;
}
#back{
 background-image: linear-gradient( 191deg , rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.19) );
    width:100px;
    height: 50px;
    float: right;
    text-align: center;
    border-bottom-left-radius: 25%;

}
#back h3{
  margin-top: 12px;
    margin-left: 10px;
    color: white;
}

.back{
}
html{
    background-color: black;
    background-size: 300%;
    background-repeat: no-repeat;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
    
}
.wrap{
	/*margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;*/
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	/*width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
    */
}
.section{
	text-align:top;
}








/*  Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }


/*Menu*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgba(255, 244, 245, 0.32);
}
.menu li a{
    display:block;
    height:em;
    width:5em;
    text-indent:-500em;
    line-height:5em;
    text-align:center;
    color: #ffffff;
    background: rgba(255, 244, 245, 0);
    position: relative;
    border-bottom: 1px solid #ffe2e3;
    transition: background 0.3s ease-in-out;
}
.menu li a:before {
  font-family: FontAwesome;
  speak: none;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}
.menu li a.code:before {
  content: "\f121";
}
.menu li a.archive:before {
  content: "\f187";
}
.menu li a.pencil:before {
  content: "\f07b";
}
.menu li a.contact:before {
  content: "\f003";
}
.menu li a.about:before {
  content: "\f007";
}
.menu li a.home:before {
  content: "\f015";
}
.menu li a:hover{
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}
.menu li.current a {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}
.menu li a.active {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}
/*Arrow ->*/
/*.menu li a.active:after{
    position:absolute;
    left:5em;
    top:0;
    content:"";
    border:2.5em solid transparent;
    border-left-color:rgba(255, 92, 98, 0);
    border-width: 2.5em 1em
}*/
.menu li{
    position:relative;
}
.menu li:after{
    color: rgba(64, 64, 64, 0.83);
    content: attr(title);
    position:absolute;
    left:5em;
    top:0;
    height:5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform:uppercase;
    background:rgba(255, 255, 255, 0.84);
    padding:2em;
    transition: all 0.3s ease-in-out;
    visibility:hidden;
    opacity:0;
}
.menu li:hover:after{
    visibility:visible;
    opacity:1;
}
@media screen and (max-height: 34em){
  .menu li{
    font-size:70%;
  }
}

/*----------------------*/




.box2{
  background: rgba(0, 0, 0, 0.46);
  float: left;
  height: 50%;
  position: relative;
  width: 30%;
  transition: background 0.3s ease-out;
    overflow: auto;
}

.box2 p{
  color: #eee;
  font-size: 15px;
    width: 94.5%;
    margin-top: 180px;
  padding: 12px;
  opacity: 0;
  text-align: center;
    
  position: absolute;
  top: 0;
      top: 0;
    background-color:rgba(127, 255, 212, 0.47);
    top: -280px;
}

.box2 h1{
     color: #eee;
    width: 94.5%;
    font-size: 80px;;
  padding: 12px;
  opacity: 1;
  text-align: center;
    font-family: mainfont;
     font-weight: 100;
    color: #ffffff;
  position: absolute;
  top: 0;  
      top: 0;
    margin-top: 40%;
}

.box2 img{
  height: 50%;
  width: 100%;
  opacity: 1; 
  display: block;
    opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.box2:hover img{
  opacity: 0.5;

}
/* box colors */
.box2:hover h1{
    top: -49%;
    opacity: 1;
    transition: 1s ease-in-out;
}
.box2:hover p{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
        opacity: 1;
    top: 0;
  transition: 1s;
}
.box2:nth-child(1):hover{
    opacity: 1;
  background: rgba(0, 0, 0, 0.57);
}
.box2:nth-child(2):hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.49);
}
.box2:nth-child(3):hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.58);
}
.box2:nth-child(4):hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}

/*.box1:hover img{
  opacity: 0;
}
/* box colors 
.box1:hover h1{
    
    opacity: 1;
}
.box1:hover p{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.box1:nth-child(1):hover{
    opacity: 1;
  background: rgba(0, 0, 0, 0.58);
}*/

.box1{
  background: #ffffff;
  float: left;
  height: 100%;
  position: relative;
  width: 24%;
  transition: background 0.3s ease-out;
    font-size: 1px;

}

.box1 p{
  color: #ffffff;
  font-size: 15px;
    width: 94.5%;
    margin-top: 110px;
  padding: 5px;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
}

.box1 h1{
    font-size: 5px;
     color: #ffffff;
    width: 94.5%;
  padding: 12px;
  opacity: 1;
    text-align: center;
    font-family: mainfont;
    font-weight: 900;
    font-size: 80px;
    color: black;
  position: absolute;
  top: 0;  
}

.box1 img{
  height: 100%;
  width: 100%;
  opacity: 1; 
  display: block;
    opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/*.box1:hover img{
  opacity: 0;
}
/* box colors */
/*.box1:hover h1{
    
    opacity: 1;
}
.box1:hover p{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.box1:nth-child(1):hover{
    opacity: 1;
  background: rgba(0, 0, 0, 0.58);
}*/

.box{
  background: #ffffff;
  float: left;
  height: 100%;
  position: relative;
  width: 23%;
  transition: background 0.3s ease-out;
}
.box p{
  color: #eee;
  font-size: 15px;
    width: 94.5%;
    margin-top: 220px;
  padding: 12px;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
    background-color:rgba(127, 255, 212, 0.47);
        
        top: -190px;
}


.box h1{
     color: #eee;
    width: 94.5%;
  padding: 12px;
    font-size: 80px;
  opacity: 1;
  text-align: center;
    font-family: mainfont;
    font-weight: 900;
  position: absolute;
  top: 0;
    margin-top: 40%;
}
.box img{
  height: 100%;
  width: 100%;
  opacity: 1; 
  display: block;
  transition: cubic-bezier(1.000, -0.530, 0.405, 1.425);
}
.box:hover img{
  opacity: 0.5;
}
/* box colors */
.box:hover h1{
    top: -15%;
    opacity: 1;
    transition: 1s ease-in-out;
}
.box:hover p{
    opacity: 1;
    top: 0;
  transition: 1s;
   

}

.box:nth-child(1):hover{
    opacity: 1;
  background: rgba(0, 0, 0, 0.57);
}
.box:nth-child(2):hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.49);
}
.box:nth-child(3):hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.58);
}
.box:nth-child(4):hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.71);
}







#slide1{
    background-image: url("bilder/BG_01.jpg");
    background-size: cover;
}/*
#slide2{
    background-image: url("bilder/BG_02.jpg");
    background-size: cover;
}
#slide3{
    background-image: url("BILD.jpg");
}/*
#slide4{
    background-image: url("bilder/GGBG_04.jpg");
    background-size: cover;
}
#slide5{
    background-image: url("bilder/GGBG_05.jpg");
    background-size: cover;
}
 




*/
.box69{
  background: rgba(0, 0, 0, 0.42);
  float: right;
  height: 100%;
  position: fixed;
  width: 5%;
    margin-left:15%;
  transition: background 0.3s ease-out;
}
.box69 p{
  color: #eee;
  font-size: 15px;
    width: 94.5%;
    margin-top: 180px;
  padding: 12px;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
    background-color:rgba(127, 255, 212, 0.47);
        
        top: -200px;
}

.menu
.box69 h1{
   font-size:  80px;
     color: #eee;
    width: 94.5%;
  padding: 12px;
  opacity: 1;
  text-align: center;
    font-family: mainfont;
    font-weight: 900;
  position: absolute;
  top: 0;
    margin-top: 40%;
}
.box69 img{
  height: 100%;
  width: 100%;
  opacity: 1; 
  display: block;
  transition: cubic-bezier(1.000, -0.530, 0.405, 1.425);
}
.box69:hover img{
  opacity: 0.5;
}
/* box colors */
.box69:hover h1{
    top: -15%;
    opacity: 1;
    transition: 1s ease-in-out;
}
.box69:hover p{
    opacity: 1;
    top: 0;
  transition: 1s;
}

    
    
  
    
  












.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 70px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
    padding-bottom: 5px;
}
.main-menu:hover,
nav.main-menu.expanded {
  width: 260px;
  overflow: visible;
}
.main-menu {
  background: #C0392B;
  border-right: 1px solid #C0392B;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 70px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}
.main-menu>ul {
  margin: 7px 0;
}
.main-menu li {
  position: relative;
  display: block;
  width: 260px;
}
.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #ffffff;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}
.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}
.no-touch .scrollable.hover {
  overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}
a:hover,
a:focus {
  text-decoration: none;
}
nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}
.area {
  float: left;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
    
    
    



.center {
      text-align: center;
    margin-top: 100px;
}
.center h1{
    font-family: sans-serif;
    font-weight: 100 !important;   
}
.red h1{
       color: red;
}



/*  Below is the css for the popups   */



    .popup {
        visibility: hidden;
        position: absolute ;
        top: 25%;
        left: 25%;
        width: 40%;
        height: 50%;
        background-color: white;
        z-index:1002;
        overflow: hidden;
        transition: 
        margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
        
    }

#exitButton{
    padding-left: 20px;
    color: #000000;
    height: 20px;
}

#exitButton button{
   position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;

  font-weight: bold;
  text-decoration: none;
  color: #333;
    outline: none;
    border: none;
    background-color: white;
}
#exitButton button:hover{
    color: #ff0000;
  
}


#popupContent{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #555555;
}

















/*---------------------------*/
         /* FOOTER */
/*

#footerContainer{
    opacity: 0;
    width: 100%;
    height: 160px;
    position:absolute;
    bottom: 0;
    background-color: #2d3e46;
    text-align: center;
    margin: 0 px;
    box-shadow: 0px -2px 5px 2px rgba(0,0,0,0.75);
    
    transition: opacity .75s ease-in-out
}

#footerContainer:hover{
    opacity: 1;
}

#footerContents{
    width: 100%; 
    padding: 1% 0px;
    position: relative;
    margin: 0 px;
}

#helloSize{
    width:80%;
    max-width:410px; 
    display:inline-block;
}

#footerHello{
    font-family:sans-serif;
    font-weight: 300; 
    color:#fff; 
    background-color: #e59400;
    padding: 1% 2.5%; 
    display: block;
    text-align: center;
}

#footerHello{
    transition:color 0.2s linear; 
    transition:background-color 0.2s linear;
}

#footerHello:hover{
    color:#e59400; 
    background-color: #fff;
}

#footerContainer #phoneNumbers{
    font:26px 'Montserrat', sans-serif; 
    color: #f1f1ea; 
    margin-bottom: 0.5%; 
    width:100%; 
    display:inline-block;
}

#footerContainer #phoneNumbers a{
    color: #f1f1ea;
}

#footerContainer p{
    font:15px/25px 'Montserrat', sans-serif;
    color: #f1f1ea; 
    width: 80%;
    max-width: 700px; 
    margin: 0 auto;
}

---------------------------*/

/*-------------*/

/*Timeline/*

#textC{
    padding-top: 10px;
    color: #ffffff !important;
}
.progress-wrap {
  height: 80px;
  margin-top: 200px;
}

#progress-container {
  display: flex;
  width: 100%;
    margin-top: 730px !important;

}
#progress-container * {
  font-family: "Arial";
}
#progress-container p {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  margin-top: 60px;
  width: 125px;
  float: left;
  margin-left: -60px !important;
}
@media (max-width: 600px) {
    #progress-container .line {
    width: 260px;
  }
}
#progress-container .line {
  width: 100%;
  border-bottom: 4px solid rgba(0, 0, 0, 0.71);
    position: absolute;
    margin-top:55px;
  z-index: 1000;
}

#progress-container ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: auto;
  justify-content: space-between;
  z-index: 2000;
}
#progress-container li {
  display: inline-flex;
  border: #191919 solid 4px;
  background: rgba(255, 255, 255, 0.17) ;
  height: 50px;
  width: 50px;
  border-radius: 100%;
    border-bottom-left-radius: 100% !important;
    margin-left: 8%;
    margin-right: 8%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
 /* color: #d4d4d4;
  font-size: 20px;
  border: rgb(0, 0, 0)  solid 4px;
  color: #000000;
}

#progress-container li p {
  color: #000000;
    font-size: 14px;
  margin-left: -35px;
}*/


/*#bajs{
 background-color: aqua;
    width: 100px;
    height: 100px;
    
}


/* Cards

#card {
    float: left;
    margin-top: 150px;
 //* border-radius: 3%;
    
    margin-left: 0px;
  width: 20%;
  height: 400px;
    
  /*background-image: linear-gradient( 191deg , rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.58) );
  -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    background-color: rgba(0, 0, 0, 0.38);
    opacity: 0.9;
}

#card1 {
  float: left;
    margin-top: 50px;
  border-radius: 3%;
    
    margin-left: 70px;
  width: 300px;
  height: 300px;
    
  background-image: linear-gradient( 191deg , rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.31) );
  -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    opacity: 0.9;
}

#image-container {
  height: 175px;

  margin: 0;
  padding: 0;
  background-image: url(http://i.imgur.com/zcyvXS7.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#image-container1 {
  height: 125px;

  margin: 0;
  padding: 0;
  background-image: url(http://i.imgur.com/zcyvXS7.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.txt-body {
  padding: 5px 40px 20px 30px;
}
.txt-body p {
  font-size: 15px;
    font-weight: 600;
    font-family: Baconpig !importants;
    text-shadow:  1px 1px rgba(255, 255, 255, 0.12);
    color: #f4f4f4;
}
.txt-body h1 {
  text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 23px;
    font-family: pigfood;
    color: white;
}*/*/
    
    
