@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
html{
 background-image: url("http://pre15.deviantart.net/1e48/th/pre/i/2015/314/3/2/arlo_and_spot_by_shoker_igor-d9g7ace.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
    
}
.wrap{
	/*margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;*/
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	/*width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
    */
}
.section{
	text-align:top;
}








/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }


/*Menu*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgba(255, 244, 245, 0.32);
}
.menu li a{
    display:block;
    height:em;
    width:5em;
    text-indent:-500em;
    line-height:5em;
    text-align:center;
    color: #ffffff;
    background: rgba(255, 244, 245, 0);
    position: relative;
    border-bottom: 1px solid #ffe2e3;
    transition: background 0.3s ease-in-out;
}
.menu li a:before {
  font-family: FontAwesome;
  speak: none;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}
.menu li a.search:before {
  content: "\f002";
}
.menu li a.archive:before {
  content: "\f187";
}
.menu li a.pencil:before {
  content: "\f040";
}
.menu li a.contact:before {
  content: "\f003";
}
.menu li a.about:before {
  content: "\f007";
}
.menu li a.home:before {
  content: "\f015";
}
.menu li a:hover{
  background: rgba(58, 147, 65, 0.71);
  color: #fff;
}
.menu li.current a {
  background: rgba(58, 147, 65, 0.71);
  color: #fff;
}
.menu li a.active {
  background: rgba(58, 147, 65, 0.71);
  color: #fff;
}
/*Arrow ->*/
/*.menu li a.active:after{
    position:absolute;
    left:5em;
    top:0;
    content:"";
    border:2.5em solid transparent;
    border-left-color:rgba(255, 92, 98, 0);
    border-width: 2.5em 1em
}*/
.menu li{
    position:relative;
}
.menu li:after{
    content: attr(title);
    position:absolute;
    left:5em;
    top:0;
    height:5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform:uppercase;
    background:rgba(58, 147, 65, 0.71);
    padding:2em;
    transition: all 0.3s ease-in-out;
    visibility:hidden;
    opacity:0;
}
.menu li:hover:after{
    visibility:visible;
    opacity:1;
}
@media screen and (max-height: 34em){
  .menu li{
    font-size:70%;
  }
}

/*----------------------*/






#bajs{
 background-color: aqua;
    width: 100px;
    height: 100px;
    
}


/* Cards*/

#card {
    float: left;
    margin-top: 20px;
  border-radius: 3%;
    margin-left: 70px;
  width: 300px;
  height: 400px;
  background-image: linear-gradient( 191deg , #4ac1ff, #795bb0 );
  -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    opacity: 0.8;
}

#card#1 {
  margin-left: 50px;
}

#image-container {
  height: 175px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  margin: 0;
  padding: 0;
  background-image: url(http://static.giantbomb.com/uploads/square_small/12/120457/2060505-mel_gibson_look.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.txt-body {
  padding: 5px 40px 20px 40px;
}
.txt-body p {
  font-size: 15px;
}
.txt-body h1 {
  text-align: center;
    font-size: 23px;
}

/*-------------*/

/*Timeline*/

#textC{
    padding-top: 10px;
    color: #8cc43d !important;
}
.progress-wrap {
  height: 80px;
  margin-top: 200px;
}

#progress-container {
  display: flex;
  width: 1000px;
  margin: auto;
}
#progress-container * {
  font-family: "Arial";
}
#progress-container p {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  margin-top: 60px;
  width: 125px;
  float: left;
  margin-left: -60px !important;
}
@media (max-width: 600px) {
    #progress-container .line {
    width: 260px;
  }
}
#progress-container .line {
  width: 1000px;
  border-bottom: 4px solid #8cc43d;
    position: absolute;
  margin-top: 25px;
  z-index: 1000;
}

#progress-container ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: auto;
  justify-content: space-between;
  z-index: 2000;
}
#progress-container li {
  display: inline-flex;
  border: #191919 solid 4px;
  background: rgb(22, 239, 89);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
 /* color: #d4d4d4;*/
  font-size: 20px;
  border: #ffffff solid 4px;
  color: #8cc43d;
}

#progress-container li p {
  color: #000000;
    font-size: 14px;
  margin-left: -35px;
}



